{% extends "base.html" %}

{% block div %}
 <div style="width: 300px;padding-left: 800px">
 <h6 style="color: black">NewUser?</h6>
 <form action="" method="post" novalidate>
 	{{ form1.hidden_tag() }}
 	<p style="color: white">
 		
 		{{ form1.username(size=32,placeholder="Username",style="height: 25px;width: 170px;font-size: 10px") }}
 		{% for error in form1.username.errors %}
 		<span color:"red">{{ error }}</span>
 		{% endfor %}

    </p>
    <p style="color: white">
    	
 		{{ form1.email(size=32,placeholder="Email",style="height: 25px;width: 170px;font-size: 10px") }}
 		{% for error in form1.email.errors %}
 		<span color:"red">{{ error }}</span>
 		{% endfor %}
    </p>


    <p style="color: white">
    	
 		{{ form1.password(size=32,placeholder="Password",style="height: 25px;width: 170px;font-size: 10px") }}
 		{% for error in form1.password.errors %}
 		<span color:"red">{{ error }}</span>
 		{% endfor %}
    </p>
    <p style="color: white">
 		{{ form1.password2(size=32,placeholder="Repeat Password",style="height: 25px;width: 170px;font-size: 10px") }}
 		{% for error in form1.password2.errors %}
 		<span color:"red">{{ error }}</span>
 		{% endfor %}

    </p>
    <p style="color: white"> {{ form1.submit( class="btn btn-primary",style="height: 25px;font-size: 10px") }}</p>

    </form>


 </div>
 <div style="padding-left: 400px;margin-top: -230px">
     <h6 style="color: black">Login here</h6>
    <form action="" method="post" novalidate>
     {{ form2.hidden_tag() }}
     <p>
       {{ form2.username(size=32,placeholder="Username",style="height: 25px;width: 170px;font-size: 10px") }}
       {% for error in form2.username.errors %}
        <span style="color:red">{{ error }}</span>
        {% endfor %}
    </p>

    <p>
     {{ form2.password(size=32,placeholder="Password",style="height: 25px;width: 170px;font-size: 10px") }}
     {% for error in form2.password.errors %}
     <span style="color:red">{{ error }}</span>
     {% endfor %}

     </p>


    <p style="color:white;font-size: 15px">
     {{ form2.remember_me() }}{{ form2.remember_me.label }}
    </p>
    <p>
     
     {{ form2.submit(class="btn btn-primary",style="height: 25px;font-size: 10px") }}


    </p> 



     </form>

    
</div>
 
{% endblock %}